div.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
a {
  font-size: 4rem;
  text-decoration: none;
  color: inherit !important;
  padding-bottom: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: inherit;
}
input {
  width: 90%;
  font-size: 2.5rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: transparent;
  border: 1px solid black;
  height: 5rem;
  border-radius: 1.5rem;
  font-family: inherit;
  box-sizing: border-box;
  background-color: white;
}
div.title {
  font-size: 6rem;
  padding-bottom: 4rem;
}
div.sub-title {
  font-size: 3rem;
  padding-bottom: 4rem;
}
div.content {
  width: 100%;
  height: 100%;
}
button {
  background-color: white;
  height: 5rem;
  font-size: 2.5rem;
  width: 90%;
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
  border: 1px solid black;
  box-sizing: border-box;
  font-weight: normal;
}
.kakao-oauth {
  width: 70%;
  background-image: url("/asset/kakao_login_medium_narrow.png");
  resize: contain;
  height: auto;
}
