.paper {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  aspect-ratio: 3/5;
  border: 2px black dashed;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem;
  box-sizing: border-box;
}
