<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./head') %>
        <link rel="stylesheet" href="/stylesheet/global.css">
        <link rel="stylesheet" href="/stylesheet/frame.css">
        <link rel="stylesheet" href="/stylesheet/create.css">
    </head>
    <body>
        <div class="container">
            <div class="fixed-ratio">
            <div class="preview">  
            </div>
            <div class="choose-box" >
                <div class="column-box">
                    <label class="choose-title">배경색 선택</label>
                    <div class="color-box">
                        <div class="color-option"></div>
                        <div class="color-option"></div>
                        <div class="color-option"></div>
                        <div class="color-option"></div>
                        <div class="color-option"></div>
                    </div>
                    <label class="choose-title">롤링페이퍼 이름</label>
                    <input class="input-title" id="input-title"></input>
                </div>
                <div class="btn" id="btn-make-paper">확인</div>
                
            </div>
        </div>
        </div>
    </body>
    <script src="/script/create.js"></script>
    <script src="/script/main.js"></script>
</html>