<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <link rel="stylesheet" href="/stylesheet/global.css" />
    <link rel="stylesheet" href="/stylesheet/frame.css" />
    <link rel="stylesheet" href="/stylesheet/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="message-box hidden" id="type-message-box">
        <textarea
          placeholder="메시지를 입력하세요"
          type="text"
          name="message"
          id="text-message"
          class="input-message"
        ></textarea>
        <div class="msg-btn-box">
          <button class="btn-msg send" id="btn-type-done">
            <i class="fa-solid fa-check"></i>
          </button>
          <button class="btn-msg cancel" id="btn-type-cancel">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <div class="fixed-ratio">
        <div
          class="preview"
          style="
            background-image: url('<%=`${background}?date=${Date.now()}`%>');
          "
        ></div>
        <div class="btn-box" id="main-options">
          <div class="btn-item" id="type-message">텍스트로 남기기</div>
          <div class="btn-item" id="drawing-message">손글씨로 남기기</div>
          <div class="btn-item" onclick="location.href='/'">홈으로 이동</div>
        </div>
        <div class="btn-box hidden" id="text-options">
          <div class="btn-item" id="move-cancel-btn">취소</div>
          <div class="btn-item" id="move-done-btn">완료</div>
          <div class="comment moving-box">
            <canvas class="text-repeat"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/script/main.js"></script>
  <script src="/script/gallery.js"></script>
</html>
