<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./head') %>
        <link rel="stylesheet" href="/stylesheet/global.css">
        <link rel="stylesheet" href="/stylesheet/frame.css">
        <link rel="stylesheet" href="/stylesheet/gallery.css">
    </head>
    <body>
        <div class="container">
            <div class="fixed-ratio">
            <div class="preview" style="background-image:<%=backColor%>;">

                <% if(messages) messages.forEach(e=>{%>
                <div class="message-item"><%=e%></div>
                    <%})%>
            </div>
            <div class="btn-box">
                <div class="btn-item">텍스트로 남기기</div>
                <div class="btn-item">손글씨로 남기기</div>
                <div class="btn-item">새로운 롤링페이퍼 만들기</div>
            </div>
            <div class="comment text-comment hidden" id="text-comment">
                <textarea class="text-field" rows="1"></textarea>
                <div class="text-button-box">
                    <div class="text-button-item">취소</div>
                    <div class="text-button-item" id="done-btn">완료</div>
                </div>
            </div>
            <span draggable="true" class="comment moving-box">
                sdfas
            </span>
        </div>
        </div>
    </body>
    <script src="/script/main.js"></script>
    <script src="/script/gallery.js"></script>
</html>