<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./head') %>
        <link rel="stylesheet" href="/stylesheet/index.css">
    </head>
    <body>
        <div class="container">
            <div class="paper">
                <div class="paper-title" id="paper-title">
                    <img src="/asset/farewell2022.png">
                </div>
                <div class="paper-content" id="paper-desc">한 해 동안 못 다한 마음을 <br> 전해보세요</div>
                <div class="link-box">
                    <a class="paper-content btn" id="btn-login" href="/login">로그인</a>
                    <a class="paper-content btn" id="btn-newPaper" href="/create">새 롤링페이퍼 만들기</a>
                </div>
            </div>
        </div>
    </body>
    <script src="/script/main.js"></script>