<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>연말의 롤링페이퍼</title>
        <link rel="stylesheet" href="/stylesheet/index.css">
        <link rel="stylesheet" href="/stylesheet/list.css">
    </head>
    <body>
        <div class="container">
            <div class="paper">
                <div class="content">
                    <div class="title">내가 만든 페이퍼</div>
                    <div class="list-box">
                        <% if(items) items.forEach(e=>{%>
                            <div class="list-item" onclick="location.href='/paper/<%=e.id%>'">
                                <div class="item-left">
                                    <%=e.title%><br>
                                    #<%=e.id%>
                                </div>
                                <div><%=String(e.message.length)%></div>
                                
                            </div>
                                <%})%>
                    </div>
                    <a class="goHome" href="/">홈으로</a>
                </div>
            </div>
        </div>
    </body>
    <script src="/script/main.js"></script>
</html>