<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="/stylesheet/login.css">
        <%- include('./head') %>
    </head>
    <body>
        <div class="container">
            <div class="paper">
                <div class="content">
                    <div class="title">연말의 롤링페이퍼</div>
                    <a class="goHome" href="/">뒤로가기</a>
                    <form>
                        <div class="field">
                            <input name="email" type="email" placeholder="이메일" required="" class="sc-eDvSVe dPDquU" value="">
                            <input name="password" type="password" placeholder="비밀번호" required="" class="sc-eDvSVe dPDquU" value="">
                        </div><br>
                        <button disabled="" type="submit" class="sc-dIfARi hFJNdE">로그인</button><br>
                        <button class="button">비밀번호를 잊어버리셨나요?</button>
                        <button class="button">카카오톡으로 로그인하기</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/script/main.js"></script>
</html>