<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <link rel="stylesheet" href="/stylesheet/global.css" />
    <link rel="stylesheet" href="/stylesheet/frame.css" />
    <link rel="stylesheet" href="/stylesheet/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="fixed-ratio">
        <div class="content">
          <div class="title">연말의 롤링페이퍼</div>
          <button onclick="location.href='<%=url%>'">
            <div class="kakao-oauth">카카오 로그인</div>
          </button>
          <br />
          <a href="/">홈으로</a>
        </div>
      </div>
    </div>
  </body>
  <script src="/script/main.js"></script>
</html>
